<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, required: true %>
  </div>

  <div class="field">
    <%= form.label :schedule_at %>
    <%= form.datetime_select :schedule_at, required: true %>
    <%#= form.hidden_field :doctor_id, value: params[:doctor_id] %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%#= select("doctor_id", doctors_list.collect {|d| [ full_name(d), d.id ]}, :prompt => "select", required: true) %>

    <%= form.select(:doctor_id, doctors_list.collect {|u| [full_name(u), u.id]}, {:prompt => 'Select' }, {required: true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
